# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PixHawk/IMU test/plot_pixhawk.py
PixHawk/MavLink Recoded/platformio.ini
PixHawk/MavLink Recoded/src/main.cpp
PixHawk/IMU test/attitude_data.csv
